* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header,.hero-section {
    background-color: #1F2937;
    color: #F9FaF8;
    font-weight: 500;
}

.header a {
    color: #ffffff;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-section p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.information-section {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    background-color: #1F2937;
    color: #FFFFFF;
}

.container {
    width: 80%;
}

.logo {
    font-size: 24px;
}

.button {
    background-color: #3882F6;
    color: #F9FaF8;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
}


